
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Ephesis&family=Noto+Sans&family=PT+Sans&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@500&display=swap'); */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "poppins", sans-serif;
}
.background {
  background-color: #f6f9fc;
  padding: 20px 10px;
  
  border-radius: 5px;
}

.container {
  max-width: 90%;
  margin: auto;

}
.d_flex {
  display: flex;
  justify-content: space-between;
 
  
}

.c_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f_flex {
  display: flex;
}
a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.RText {
  text-align: right;
}

input, button {
  border: none;
  outline: none;
  background-color: none;
}
.row {
  width: 50%;
}
.icon-circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #f3f5f9;
  margin-left: 20px;
  text-align: center;
  border-radius: 50%;
  
}

.boxShadow {
  box-shadow : rgb(43 52 69 / 10%) 0 4px 16px
}
.discount {
  position: absolute;
  top: 0;
  left: 0;
  background: #0f3460;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 50px;
  outline: none;
  color: #fff;
  margin: 10px;
}

/* Category CSS */
.contentWidth {
  width: 77%;
}
.category {
  width: 21%;
  box-shadow: rgb(43, 52, 69 / 10%) 0 4px 16px;
  height: 510px;
  /* padding: 15px 0 ; */
  border-radius: 5px ;
  margin-top: 5px;
  margin-bottom: 28px;
  background-color: #f6f9fc;
  display: inline;
}
.category .left-side-photo {
  width: 330px;
  height: 300px;
  /* margin-top: 10px; */
  
}
.category .div-categ {
  display: flex;
  padding-left: 65px;
  margin-bottom: 6px;
  margin-top: 12px;
  
}
.category .div-categ .he3 {
  margin-left: 10px;
  text-decoration: line-through;
}
.category .padd {
  text-align: center;
}
.category .padd  span {
  margin-bottom: 18px;
  /* font-size: 24px; */
}
.category .head-span {
  font-size: 20px;
  /* font-weight: 700; */
}
.category .padd .stars {
  margin-top: 12px;
  font-size: 12px;
  color: #ffcd4e;
}
.category .padd button {
  width: 80%;
  margin: 8px 8px;
  padding: 10px 12px;
  border-radius: 8px;
  background-color: #0B8692;
  color: #ffff;
}
.category .padd button {
  font-size: 18px;;
}
/* .category span {
  margin: 10px 20px;
  text-transform: capitalize;
}
.category .box {
  transition: .5s;
  padding: 0 20px;
}
.category .box:hover {
  background-color: #ffe1ef;
  cursor: pointer;
} */
/* END OF CATEGORY */

.btn-primary {
  background-color: #ec2748;
  padding: 13px 40px;
  font-weight: bold;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;

}
.btn-primary:hover{
  background-color: #0B8692;
}
.top {
  margin-top: 60px;
}

.mtop {
  margin-top: 40px;
}

/* FLASH DEALS */

.heading i {
  color: #e94560;
  margin: 10px;
}

/* _______________FLASH CARD -CSS_____________ */


/* .flash {
  padding-bottom: 50px;
}
.product {
  background: #fff;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: rgb(3 0 71 / 9%) 0 1px 3px;
  margin-top: 25px;
  min-height: 275px;
}
.product h3 {
  font-weight: 400;
  font-size: 17px;

}
.product .rate i {
  font-size: 15px;
  color: #ffcd4e;
  margin: 5px 5px 5px 0;
}
.product .price {
  display: flex;
  justify-content: space-between;
  color: #e94560;

  .fa-cart-shopping {
   position: absolute;
   right: 40px;
   border: 2px solid #e94560de;
   color: #ed2647;
   border-radius: 5px;
   padding: 6px 7px;
  font-size: 23px;
  visibility: visible;
  transition: 0.3s ease-in;
  }
  .not-active {
    visibility: hidden;
   }
  
}
.newcls:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  button {
    color: #fff;
    background: #e94560;
    visibility: visible;
    transition: 0.4s ease-in;
    transform: scale(1);
  
  }
    .fa-cart-shopping{
    visibility: hidden;
    transition: 0.2s ease-in-out;
    transform: scale(0.8);
    }
  
  
}
.newcls button {

  font-size: 20px;
  border: 1px solid rgb(3 0 71 / 9%);
  min-width: 125px;
  height: 35px;
  border-radius: 5px;
  visibility: hidden;
}
.newcls .visible {
  visibility: visible;
  color: #fff;
    background: #e94560;
 
}
.product button:hover {
  cursor: pointer;
  
}
 .img img {
  min-width: 150px;
  min-height: 130px;
  object-fit: contain;
}
.img-container {
  position: relative;
  left: 70px
}
.product-like {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  opacity: 0;
  transition: 0.5s
}
.product-detail .product-name {
  margin-bottom: 7px;
}
.product-like label {
  background-color: #0f3460;
  padding: 1px 10px;
  font-size: 12px;
  color: #fff;
  border-radius: 50px;
}
.product-like i {
  font-size: 20px;
  margin: 10px 3px;
}
.product:hover .product-like {
  opacity: 1;
  cursor: pointer;
}

.control-btn .next, 
.control-btn .prev {
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  line-height: 55px;
  background-color: #0f3460;
  border-radius: 50%;
  transition: 0.5s;
  z-index: 5;
} 
.control-btn .prev {
  right: -20px;
}
.control-btn .next {
  left: -20px
}

.control-btn .next i, 
.control-btn .prev i {
  font-size: 20px;
  transition: 0.5s;
  color: #fff;
}
.control-btn .next:hover, 
.control-btn .prev:hover {
  background-color: #e94560;
  color: #fff;
  cursor: pointer;
} */
/* _______________FLASH CARD -CSS_____________ */
/* FOR ALERT POPUP */
.popup-displayer {
  position: sticky;
  bottom: 20px;
  /* left: 10%;
  padding: 10px 0 10px 18px;
  border-radius: 3px;
  z-index: 96500;
  min-width: 300px; */
  background-color: #ff9800;
  color: #fff;


}
/* .alert-displayer span {
  margin-left: 12px;
  font-size: 16px;
}

.hidden-alert {
  visibility: hidden;
}  */
/* ________________TOPCATE CSS__________________ */
.heading .heading-left {
  margin-bottom: 20px;
}
.heading .heading-left i {
  font-size: 30px;
}
.heading .heading-left h2 {
  font-size: 25px;
  margin: 5px;
}
.heading .heading-right,
.heading .heading-right i {
  text-align: right;
  color: grey;
}

/* ________________TOPCATE CSS__________________ */

/*__________________CART ____________________________*/
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

/*__________________CART ____________________________*/

/* TOP CATEGORY */

/* .picked-product {
  min-height: 350px;
  margin-left: 15px;
}
.picked-product .picked-img  img{
  position: relative;
  top: 50px;
  left: 25px;
  width: 180px;
  max-height: 210px;
  margin-bottom: 30px;
  object-fit: contain;
} */


/* DISCOUNT  CSS */
.box h4 {
  margin: 15px 0;
}
.price-div :first-child {
  color: #212121;
  font-weight: 600;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 4px;
}
.price-div :last-child {
  color: #878787;
  text-decoration: line-through;
  text-decoration-color: #878787;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  
}
.scale-div{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.1) 0px 18px 36px -18px inset;
  margin-right: 15px

}
.scale-div:hover {
  transform: scale(1.09);
  transition: 0.3s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
 
}
/*_______________ MEDIA QUIERIES  ____________*/


@media only screen and (max-width: 767px) {

  /*____________ Category___________ css */
  .contentWidth {
    width: 90%;
  }
  .category {
  display: none;
  
  }

  /*___________ SlideCard____________ */
  .responsive-slideCard {
    display: flex;
    width: 100%;
    max-height: 300px;
    margin-top: 50px;
    /* flex-direction: column; */
    justify-content: space-around;
  }
.left {
  width: 100%;
}











 
}




















/* __________FLASH DEALS____________ */


.flash {
  padding-bottom: 40px;
}
.product {
  background: #fff;
  padding: 20px 15px;
  position: relative;
  border-radius: 8px;
  box-shadow: rgb(3 0 71 / 9%) 0 1px 3px;
  margin-top: 25px;
  margin-left: 6px;
  min-height: 150px;
  
}
.product h3 {
  margin-top: 10px;
  font-weight: 400;
  font-size: 17px;

}
.product .rate i {
  font-size: 15px;
  color: #ffcd4e;
  margin: 5px 5px 5px 0;
}
.product .price {
  display: flex;
  justify-content: space-between;
  color: #e94560;

}
.product button {
  background: none;
  color: #0B8692;
  font-size: 20px;
  border: 1px solid rgb(3 0 71 / 9%);
  width: 35px;
  height: 35px;
  border-radius: 5px;
  transition: 0.5s ;
}
.product button:hover {
  cursor: pointer;
  background-color:  #0B8692;
  color: #fff;
  transition: 0.5s ;
}
 .img img {
  width: 80px;
  max-height: 80px;
}
.img-container {
  position: relative;
  left: 70px
}
.product-like {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  opacity: 0;
  transition: 0.5s
}
.product-detail .product-name {
  margin-bottom: 7px;
}
.product-like label {
  background-color: #0f3460;
  padding: 1px 10px;
  font-size: 12px;
  color: #fff;
  border-radius: 50px;
}
.product-like i {
  font-size: 20px;
  margin: 10px 3px;
}
.product:hover .product-like {
  opacity: 1;
  cursor: pointer;
}

/* .control-btn .next, 
.control-btn .prev {
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  line-height: 55px;
  background-color: #0f3460;
  border-radius: 50%;
  transition: 0.5s;
  z-index: 5;
} 
.control-btn .prev {
  right: -20px;
}
.control-btn .next {
  left: -20px
}

.control-btn .next i, 
.control-btn .prev i {
  font-size: 20px;
  transition: 0.5s;
  color: #fff;
}
.control-btn .next:hover, 
.control-btn .prev:hover {
  background-color: #e94560;
  color: #fff;
  cursor: pointer;
} */